html {}
body {font-family: "Arial", "Bitstream Vera Sans", "DejaVu LGC Sans", arial, verdana, sans; margin: 0; padding: 0 0 0; text-align: center;}
body.textsize-normal {font-size: 90%;}
body.textsize-large {font-size: 100%;}
body.textsize-small {font-size: 80%;}



/* Basic page layout */
#container {margin: 0 auto; text-align: left; background: #fff; display: block;}
body.layout-fixed #container {width: 940px; padding: 20px 20px 0px 20px; margin: 0 auto; display: block;}
body.layout-liquid #container {width: 90%; padding: 20px 5% 0 5%; display: block;}
#context, #page, #banner, #content_area, #footer, #login-out {width: 100%; float: left; margin: 0; position: relative;}
#banner_content {width: 30%; position: absolute; top: 0; right: 0; z-index: 100;}
#context p, #context li {}
#footer {margin-top: 40px;}

.breadcrumb {color: #333; margin: 0; padding: 0; vertical-align: top;}
body.breadcrumb-no .breadcrumb {display: none;}


#sidebar-left, #content, #sidebar-right {float: left; margin: 0 4% 0 0;}
.one-sidebar.sidebar-left #content, #sidebar-right {margin-right: 0;}
#sidebar-left, #sidebar-right {width: 21%;}
#content {min-width: 200px; width: 50%; }
.sidebar-first #page_title, .two-sidebars #page_title {margin-left: 25%;}
.one-sidebar #content {width: 75%; margin-right: 0;}
.no-sidebars #content {width: 73%; margin: 0;}


/* Banner */
#banner {margin: 1em 0; padding: 0 0 0 0; background: url("images/line_1.png") repeat-x scroll 0 100% transparent; }
#context {text-transform: uppercase; margin-bottom: 1em;}
body.logo_position-float #site_logo {float: left; margin: 0 2em 1em 0;}
body.logo_position-banner #site_logo {margin: 0 0 0.5em 0;}
h1 a {color: #444; color: rgba(0,0,0,.8);}
#slogan {margin: 0;}
#login-out {margin: 1em 0; text-align: right; line-height: 1;}



/* Language switcher */
#lang_switch {position: absolute; top: 0; right: 0; text-align: right; padding: 0; margin: 0;}
#lang_switch li.active a {color: #000;}
#lang_switch li a {color: #999;}
.block.locale ul {margin: 0; padding: 0; text-align: right;}
.block.locale li {display: inline; list-style-type: none; margin: 0 0 0 15px; padding: 0; vertical-align: top;}


/* Global navigation */
#global-nav, #context-nav {}
#context-nav {text-transform: none;}
#global-nav, #context-nav, #global-nav li, #context-nav li {list-style-type: none; list-style-image: none; padding-left: 0; margin-left: 0;}
#global-nav li, #context-nav li {margin-right: 0.8em; padding-right: 0.1em; background-image: none; display: inline;}
#global-nav li.last, #global-nav li.last a, #context-nav li.last, #context-nav li.last a {margin-right: 0; padding-right: 0;}
#global-nav li a {color: #3861aa; font-weight: bold; font-size: 1.2em;}
#context-nav li a {color: #333; color: rgba(0,0,0,.7);}
#global-nav li a.active, #context-nav li a.active {color: #000; font-weight: bold;}
#global-nav li a:hover, #context-nav li a:hover {color: #000; text-decoration: none;}



/* FOOTER */
#footer {min-height: 80px; margin-top: 2em; padding-top: 2em; background: url("images/line_1.png") repeat-x scroll 0 0 transparent; }
#footer .wrapper {padding-right: 100px;}
#footer .tier {margin: 20px 0 0 0; padding-top: 20px; position: relative;}
#front_content_wrapper {margin-top: 3em;}
#footer_message {position: absolute; bottom: 0; left: 0; width: 50%;}
a#rss_link {padding: 0 20px 6px 0; background: url(https://framework.web.cern.ch/framework/img/icon/icon_rss.png) top right no-repeat;}
#footer #cern_logo {display: block; position: absolute; right: 0; bottom: 0; width: 80px; height: 80px; background: url("images/logo/badge_80.png") 0px 0px no-repeat;}
#footer #cern_logo span {display: none;}


/* Default menus */
ul.menu {padding-left: 0px; margin-left: 0;}
ul.menu ul {padding-left: 1em; margin-top: 0.5em;}
ul.menu li {margin: 0.3em 0; padding: 0; list-style-position: inside; background:url("images/line_1.png") repeat-x scroll 0 100% transparent}
ul.menu li li {padding-right: 0; }
ul.menu li li.last {background-image: none;}
ul.menu li a { padding: 0.2em 1.2em 0.2em 0; color: #444; color: rgba(0,0,0,.7); display: block; display: inline-block;}
ul.menu li a:hover {color: #999; color: rgba(0,0,0,1); text-decoration: none;}
ul.menu li a.active, .book-title.active {color: #000; font-weight: bold;}
ul.menu li a.active li a {color: #3861aa;}
ul.menu li.collapsed, ul.menu li.expanded {list-style-type: none;}
ul.menu li.leaf {list-style-type: none; margin-left: 0;}
ul.plain, ul.plain li {list-style-type: none; padding-left: 0;}


/* ACTION LINKS */
ul.action-links {list-style: none; margin: 5px; padding: .5em 1em;}
ul.action-links li {display: inline-block; margin-left: 10px;}
ul.action-links li a {padding: 2px 0 0 18px; background: url(images/add.png) no-repeat left center; margin: 0 10px 0 0;}

/* OVERLAY STYLING */
#overlay-content #cern_banner {display: none;}
#overlay-content #content {width: 100%;}

/* BLOCKS */
.block {margin-bottom: 3em;}
.block h2, #content .block h2 {font-size: 1.2em; margin: 0 0 0.5em 0; padding-bottom: 0.2em; border-bottom: 3px solid rgba(0,0,0,0.1);}
.block h3, .view h3 {margin-top: 0; text-transform: none; font-size: 1em;}
.block h3 a {text-decoration: none; font-weight: normal;}
.block .date {margin-top: 0;}
ul.links, ul.links li {margin-left: 0; padding-left: 0;}
ul.links .node_read_more a:before {content: "» ";}
.book-title, .book-title.active {font-weight: bold; text-transform: uppercase; color: #333;}
.book-navigation .menu, .book-navigation .page-links {border-width: 0; margin-top: 30px; font-size: 1em;}
.book-navigation a {text-decoration: none;}
.book-navigation a:hover {text-decoration: underline;}
ul.links, ul.links li {}
#block-user-0 {border: 1px solid #e4e4e4; padding: 1em;}
#block-user-0 h2 {margin-top: 0;}
#user-login-form {text-align: left; }
#user-login-form ul {margin-top: 1em;}
#user-login-form ul, #user-login-form ul li {list-style-type: none; margin-left: 0; padding-left: 0;}
.search.block {}
#search-block-form {text-align: right;}
#search-block-form label {display: none;}
#search-block-form input.form-text {display: inline; padding: 0.1em;}
#search-block-form input.form-submit {padding: 3px 6px; color: #444; border: none; text-shadow: 0 1px 1px rgba(255,255,255,.85); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bbb)); background-image: -moz-linear-gradient(0% 100% 90deg,#efefef, #fff); -webkit-border-radius: 23px; -moz-border-radius: 23px; border-radius: 23px; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.5); box-shadow: 0 1px 2px rgba(0,0,0,.5);}
.description, .form-item .description {font-style: italic; color: #777;}
.block.locale {margin-bottom: 1em;}
.block.locale a {color: #888; color: rgba(0,0,0,.4);}
.block.locale .active a {color: #333; color: rgba(0,0,0,.9);}


table {border-collapse: collapse;}
table.full_width {width: 100%;}
tr {vertical-align: top;}
th, td {padding: 0.2em 1em; text-align:left;}
table td * {font-size: inherit;}
table th {color:#000; font-weight:bold; line-height:normal; border-bottom:1px solid #ccc;}
table td {line-height:normal; border-bottom:1px solid #eaeaea;}
table caption {margin: 1.5em 0 1em 0; color: #999;}
tr.even, tr.odd {background-color: transparent;}

/* CONTENT STYLES */
h1, h2, h3, h4, h5 {font-weight: normal; vertical-align: top;}
h1 {line-height: 1.2; font-size: 2.5em;}
h2 {letter-spacing: 1px; font-size: 2em;}
h3 {font-size: 1.6em;}
h4, h5 {font-weight: bold;}
code {font-family: courier;}
a {color: #3861aa; text-decoration: none; outline: none;}
a:hover {text-decoration: underline;}
p, blockquote, label, dd {line-height: 1.4em;}
#content li {line-height: 1.5em; }
#content ul.inline li {line-height: inherit;}
ul, ol {}
ul.inline li {display: inline; white-space: nowrap;}
.airy li {margin-bottom: 1em;}
span.review {background-color: #f0bdf3;}
#content tbody {border-top: 0;}
#content td {padding: 10px; border-bottom: 1px solid #999;}
fieldset {padding: 1em; border: 1px solid #999; margin: 1em 0;}
dl {padding-bottom: 0.3em;}
dt {margin-top: 1em; font-size: 1em;}
dd {margin-left: 2em; font-style: italic;}
dd, dt {color: #555;}
a.bg_img span {display: none;}
.meta {}
.equation {text-transform: none; white-space: nowrap;}
.nowrap { white-space: nowrap;}
.inline {display: inline;}
.hidden, .hide {display: none;}
blockquote {padding: 10px 10px 10px 40px; background: #fbfbfb url(https://static1.web.cern.ch/static1/ad/images/blockquote_en.gif) 10px 10px no-repeat; border: 1px solid #ebebeb;}
blockquote .attribution {font-style: italic; text-align: right;}
.lang-fr blockquote {background-image: url(https://static1.web.cern.ch/static1/ad/images/blockquote_fr.gif);}
.print, .print_only {display: none;}
.right {text-align: right;}
.more-link {clear: left;}
.float_right {float: right; margin: 0 0 2em 2em;}
.float_left {float: left; margin: 0 2em 2em 0;}
.no_transform {text-transform: none;}
.lang-en .french, .lang-fr .english {display: none;}
.note {font-style: italic;}
.important {color: #C80E43;}
.box.text, .aside {background: #ededed; border: 1px solid #e1e1e1; padding: 0 10px 10px 10px; margin: 2em 0;}
.aside.float_right {width: 200px; padding: 10px; margin-left: 2em;}
.aside.float_left {width: 200px; padding: 10px; margin-right: 2em;}
.aside > h3, .aside > h4 {margin-top: 10px;}
.box_highlight {margin: 2em 0; background: #f1f5fb; border: 1px solid #e5e8ee; padding: 1em;}
p#page_dates {color: #888;}

.separator {padding-bottom: 0.5em; margin-bottom: 0.5em; background: url(images/line_1.png) bottom left repeat-x;}
.separator.top {padding-top: 0.5em; margin-top: 0.5em; background: url(images/line_1.png) top left repeat-x;}


/* SMALLER STUFF */
.links,
.breadcrumb,
.block.locale,
#page_dates,
#footer,
#login-out {font-size: 0.85em;}




/* VIEWS PAGER */
.item-list ul.pager li {padding: 0; margin: 0 0.2em 0.2em;}
.item-list ul.pager li.pager-current {border: 1px solid #ebebeb; padding: 0.3em; color: #888;}
.item-list ul.pager li a {border: 1px solid #ebebeb; padding: 0.3em; color: #3861aa; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
.item-list ul.pager li a:hover {background: #3861aa; color: #fff; text-decoration: none;}


/* NODE */
.node {margin-bottom: 3em;}
.node-list h2 {margin-bottom: 0.1em; font-size: 1.5em;}


/* COMMENTS */
#comments {background: #efefef; background: rgba(56, 97, 170, 0.04); border: 1px solid rgba(56, 97, 170, 0.2); padding: 1em; font-size: 90%; color: #444;}
#comments h2.title {border-bottom: 1px solid rgba(56, 97, 170, 0.2); margin-bottom: 2em;}
#comments .comment {margin-left: 4em; margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid rgba(56, 97, 170, 0.2);}
#comments .comment .submitted, .comment .links {display: block; color: #999; text-align: right;}
#content #comments .comment .content p {line-height: 1.4; margin-bottom: 0.8em;}
#comments .links a {background: #3861aa; color: #fff; padding: 0.3em 0.5em; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}


/* FORUM */
#forum .name {margin-top: 1.3em; font-size: 1.2em; font-weight: bold;}
#forum .indent .name {margin-top: inherit; font-size: inherit; font-weight: normal;}
#forum td {border-bottom: none;}


/* ADMIN INTERFACE */
table#permissions th, #user-admin-perm .sticky-header th {}
div.admin .left {margin-left: 0;}
div.admin .right {margin-right: 0; text-align: left;}
ul.primary {white-space: normal;}
div.tabs {margin-bottom: 2em;}
div.tabs ul.primary, div.tabs ul.secondary {margin-left: 0; margin-right: 0;}
ul.secondary a.active {border-bottom: none;}
ul.primary li a {padding-top: 0.2em; padding-bottom: 0.2em; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;}
ul.primary {padding-top: 0.2em; padding-bottom: 0.2em;}
ul.secondary {}
ul.primary li a {background: transparent;}


div.messages {padding: 0.5em; margin: 0.3em 0; font-style: italic; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border: 1px solid rgba(0, 0, 0, 0.3);}
div.status {background: rgba(0, 255, 0, 0.2);}
div.error {background: rgba(255, 0, 0, 0.2);}


.feed-icon {display: block; margin: 1em 0;}


/* CKE EDITOR */
body.cke_show_borders {text-align:left;}


.form-item label {font-weight: normal;}
.meta {margin: 20px 0;}




/* CERN GLOBAL BANNER

from cern.ch/framework
imported here so can be cached and compressed by Drupal

*/


#cern_banner {background-color: #333; height: 16px; margin: 0 0 0 0; padding: 2px 0; position: absolute; top: 0; left: 0; width: 100%; z-index: 100; text-align: left;}
#cern_banner a {display: block; width: 294px; height: 16px; background: #333 url(images/global_banner/lab_EN.png) 0px 0px no-repeat; margin: 0 0 0 10px;}
.lang-fr #cern_banner a {background-image: url(images/global_banner/lab_FR.png); width: 390px;}
#cern_banner a span {display: none;}




@media all and (min-width:1200px) {
  #container {width: 96%;}
}



@media all and (max-width:800px) {
  html {border: none;}
  body.layout-fixed #container {width: 100%;}
  #banner #site_logo, #global-nav, #banner #banner_content, .block.locale ul, .block.locale ul li, .breadcrumb {position: relative; float: none; top: auto; left: auto; right: auto; bottom: auto; text-align: left; margin: 0 0 0 0, padding: 0 0 0 0;}
  #context {margin: 0;}
  #banner {min-height: 0px;}
  #banner_content {clear: left; width: 100%; height: inherit;}
  .sidebar-left #page_title, .sidebars #pagetitle {margin-left: 0;}
  .search.block {positon: relative; clear:left;}
  #search-block-form {text-align: left;}
  #sidebar-left, #content, .one-sidebar.sidebar-left #content, #sidebar-right, .two-sidebars #content, .two-sidebars #sidebar-left, .two-sidebars #sidebar-right, .cwf.fluid.grid {width: 100%;}
  .breadcrumb {display: none !important;}
}


/* iPhone */
@media all and (max-width: 480px) {
  body {padding-top: 0;border-top: 3px solid #f00;}
  #context, #page, #banner, #content_area, #footer {float: none; margin: 0 0 0 0;}
  #footer {background-image: none;}
  .separator {margin: 1em 0;}
  .no-sidebars #content {width: 100%; margin: 0;}
  #content_area {border-style: solid; border-width: 3px 0; border-color: rgba(0, 0, 0, 0.7); padding: 1em 0 !important; margin: 1em 0 !important;}

}


/* Taxonomy styling */
.field-type-taxonomy-term-reference {margin: 0 0 1.2em;}
.field-type-taxonomy-term-reference .field-label {margin: 0; padding-right: 5px; font-weight: normal; font-size: 0.85em;}
.field-type-taxonomy-term-reference ul.links {padding: 0; margin: 0; list-style: none;}
.field-type-taxonomy-term-reference ul.links li {float: left; padding: 0 5px 0 0; white-space: nowrap;}


/* Hacks - deprecated */
body.hot ul.links {display: none;}
